on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up environment variables
        run: |
          echo "COMMIT_HASH_FULL=$(git rev-parse HEAD)" >> $GITHUB_ENV
          echo "COMMIT_HASH_SHORT=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Print commit hashes
        run: |
          echo "Full commit hash: $COMMIT_HASH_FULL"
          echo "Short commit hash: $COMMIT_HASH_SHORT"

      - name: Set up pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Wrangler CLI
        run: npm install -g wrangler

      - name: Install dependencies
        run: pnpm install

      - name: Deploy
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          preCommands: |
            echo "*** update last commit variables ***"
            echo "${{ env.COMMIT_HASH_FULL }}" | wrangler secret put LAST_COMMIT
            echo "${{ env.COMMIT_HASH_SHORT }}" | wrangler secret put LAST_COMMIT_SHORT
            echo "******"

      - name: Get new cloudflare deployment id
        env:
          CMD_OUTPUT: ${{ steps.deploy.outputs.command-output }}
        run: |
          DEPLOYMENT_ID="$(printf "%s\n" "$CMD_OUTPUT" | sed -nE 's/^.*Current Version ID:[[:space:]]*([^[:space:]]+).*$/\1/p' | cut -d'-' -f1)"
          echo "DEPLOYMENT_ID=$DEPLOYMENT_ID" >> "$GITHUB_ENV"
          echo "Deployment ID: $DEPLOYMENT_ID"

      - name: Print new cloudflare deployment id
        run: |
          echo "Current Deployment ID: $DEPLOYMENT_ID"

      - name: Set new cloudflare deployment id
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: deployments status
          postCommands: |
            echo "*** get the cloudflare deployment id ***"
            echo "${{ env.DEPLOYMENT_ID }}" | wrangler secret put CF_DEPLOYMENT_ID
            echo "******"
